$blue_egerie: #274058;
$orange_egerie: #e94e1b;
$white_egerie: #fff;
$success_egerie: #198754;
$error_egerie: #FFBABB;
$field_egerie : #f5f5f5;
.textarea-question{
  .textarea{
    display: flex;
    align-items: center;
    background-color: $blue_egerie;
    color: $field_egerie;
    border-radius: 0.5em;
    textarea{
      color: $field_egerie;
      border:none;
      padding: 0.5em;
      min-height: 2em;
    }
    textarea{
      width: 100vw;
      background-color: $blue_egerie;
    }
    label{
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  }
}